.modebar {
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
}

.modebar-group {
    display: flex !important;
    flex-direction: row !important;
}

.DateRangePickerInput__withBorder{
    border-radius: 6px !important;
}
.DateInput{
    background: none !important;
}

.DateInput_input{
    border-radius: 6px !important;
}